<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p2p.user.mappers.CustInfoMapper">
	<!-- 1、配置返回结果Map和参数Map -->
	<resultMap type="CustInfo" id="baseCustInfoResultMap">
		<id property="custNo" column="CUST_NO"/>
		<result property="userName" column="USER_NAME"/>
		<result property="moblNo" column="MOBL_NO"/>
		<result property="loginPwd" column="LOGIN_PWD"/>
		<result property="acctPwd" column="ACCT_PWD"/>
		<result property="mesgPwd" column="MESG_PWD"/>
		<result property="SEX" column="SEX"/>
		<result property="custName" column="CUST_NAME"/>
		<result property="certTyp" column="CERT_TYP"/>
		<result property="certNo" column="CERT_NO"/>
		<result property="certValidPerd" column="CERT_VALID_PERD"/>
		<result property="birthDate" column="BIRTH_DATE"/>
		<result property="POINT" column="POINT"/>
		<result property="loginStat" column="LOGIN_STAT"/>
		<result property="EMAIL" column="EMAIL"/>
		<result property="acctStat" column="ACCT_STAT"/>
		<result property="vipFlag" column="VIP_FLAG"/>
		<result property="authFlag" column="AUTH_FLAG"/>
		<result property="regDate" column="REG_DATE"/>
		<result property="loanPsnFlag" column="LOAN_PSN_FLAG"/>
		<result property="openId" column="OPEN_ID"/>
		<result property="loginFlag" column="LOGIN_FLAG"/>
		<result property="lastLoginDate" column="LAST_LOGIN_DATE"/>
		<result property="custTyp" column="CUST_TYP"/>
		<result property="instDate" column="INST_DATE"/>
		<result property="updtDate" column="UPDT_DATE"/>
	</resultMap>
	<resultMap type="CustInfo" id="custInfoResultMap" extends="baseCustInfoResultMap">
	</resultMap>
	<!-- <parameter property="deptId" javaType="string" jdbcType="VARCHAR"/> -->
	<parameterMap type="CustInfo" id="custInfoParameterMap">
		<parameter property="custNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="userName" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="moblNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="loginPwd" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="acctPwd" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="mesgPwd" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="SEX" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="custName" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="certTyp" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="certNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="certValidPerd" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="birthDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="POINT" javaType="integer" jdbcType="INTEGER"/>
		<parameter property="loginStat" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="EMAIL" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="acctStat" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="vipFlag" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="authFlag" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="regDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="loanPsnFlag" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="openId" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="loginFlag" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="lastLoginDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="custTyp" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="instDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="updtDate" javaType="date" jdbcType="TIMESTAMP"/>
	</parameterMap>

	<!-- 2、各个SeqID -->
	<insert id="add" parameterMap="custInfoParameterMap">
		INSERT INTO cust_info (CUST_NO, USER_NAME, MOBL_NO, LOGIN_PWD, ACCT_PWD, MESG_PWD, SEX, CUST_NAME, CERT_TYP, CERT_NO, CERT_VALID_PERD, BIRTH_DATE, POINT, LOGIN_STAT, EMAIL, ACCT_STAT, VIP_FLAG, AUTH_FLAG, REG_DATE, LOAN_PSN_FLAG, OPEN_ID, LOGIN_FLAG, LAST_LOGIN_DATE, CUST_TYP, INST_DATE, UPDT_DATE) VALUES (
			#{custNo, jdbcType=VARCHAR}, 
			#{userName, jdbcType=VARCHAR}, 
			#{moblNo, jdbcType=VARCHAR}, 
			#{loginPwd, jdbcType=VARCHAR}, 
			#{acctPwd, jdbcType=VARCHAR}, 
			#{mesgPwd, jdbcType=VARCHAR}, 
			#{SEX, jdbcType=VARCHAR}, 
			#{custName, jdbcType=VARCHAR}, 
			#{certTyp, jdbcType=VARCHAR}, 
			#{certNo, jdbcType=VARCHAR}, 
			#{certValidPerd, jdbcType=VARCHAR}, 
			#{birthDate, jdbcType=TIMESTAMP}, 
			#{POINT, jdbcType=INTEGER}, 
			#{loginStat, jdbcType=VARCHAR}, 
			#{EMAIL, jdbcType=VARCHAR}, 
			#{acctStat, jdbcType=VARCHAR}, 
			#{vipFlag, jdbcType=VARCHAR}, 
			#{authFlag, jdbcType=VARCHAR}, 
			#{regDate, jdbcType=TIMESTAMP}, 
			#{loanPsnFlag, jdbcType=VARCHAR}, 
			#{openId, jdbcType=VARCHAR}, 
			#{loginFlag, jdbcType=VARCHAR}, 
			#{lastLoginDate, jdbcType=TIMESTAMP}, 
			#{custTyp, jdbcType=VARCHAR}, 
			#{instDate, jdbcType=TIMESTAMP}, 
			#{updtDate, jdbcType=TIMESTAMP}
		)
	</insert>
	<!-- 判断不可重复的属性是否已经存在，这里默认只判断deptName属性，具体的业务再进行修改添加 -->
	<!--
	<select id="isExists" resultType="integer" parameterMap="custInfoParameterMap">
		SELECT COUNT(1) FROM cust_info WHERE DEPT_NAME=#{deptName}
		<if test="deptId != null and deptId !='' ">
			<![CDATA[ AND DEPT_ID <> #{deptId, jdbcType=VARCHAR} ]]>
		</if>
	</select>
	-->
	<select id="getById" resultMap="custInfoResultMap" parameterType="string">
		SELECT * FROM cust_info WHERE CUST_NO = #{value}
	</select>
	<select id="page" resultMap="custInfoResultMap" parameterType="CustInfo">
		SELECT * FROM cust_info WHERE 1=1
		<!-- 各种条件 --> 
		<!--
		<if test="deptName != null and deptName !='' ">
			<![CDATA[ AND DEPT_NAME LIKE CONCAT(CONCAT('%', #{deptName}),'%')]]>
		</if>
		-->
	</select>
	<select id="getTotal" resultType="long" parameterType="CustInfo">
		SELECT COUNT(1) FROM cust_info WHERE 1=1
		<!-- 各种条件 --> 
		<!--
		<if test="deptName != null and deptName !='' ">
			<![CDATA[ AND DEPT_NAME LIKE CONCAT(CONCAT('%', #{deptName}),'%')]]>
		</if>
		-->
	</select>
	<delete id="deleteById" parameterType="string">
		DELETE FROM cust_info WHERE CUST_NO = #{value}
	</delete>
	<update id="edit" parameterType="CustInfo">
		UPDATE cust_info 
		<!-- 各种更改的字段 --> 
		<set>
			<if test="userName != null and userName !='' ">
				USER_NAME = #{userName, jdbcType=VARCHAR}, 
			</if>
			<if test="moblNo != null and moblNo !='' ">
				MOBL_NO = #{moblNo, jdbcType=VARCHAR}, 
			</if>
			<if test="loginPwd != null and loginPwd !='' ">
				LOGIN_PWD = #{loginPwd, jdbcType=VARCHAR}, 
			</if>
			<if test="acctPwd != null and acctPwd !='' ">
				ACCT_PWD = #{acctPwd, jdbcType=VARCHAR}, 
			</if>
			<if test="mesgPwd != null and mesgPwd !='' ">
				MESG_PWD = #{mesgPwd, jdbcType=VARCHAR}, 
			</if>
			<if test="SEX != null and SEX !='' ">
				SEX = #{SEX, jdbcType=VARCHAR}, 
			</if>
			<if test="custName != null and custName !='' ">
				CUST_NAME = #{custName, jdbcType=VARCHAR}, 
			</if>
			<if test="certTyp != null and certTyp !='' ">
				CERT_TYP = #{certTyp, jdbcType=VARCHAR}, 
			</if>
			<if test="certNo != null and certNo !='' ">
				CERT_NO = #{certNo, jdbcType=VARCHAR}, 
			</if>
			<if test="certValidPerd != null and certValidPerd !='' ">
				CERT_VALID_PERD = #{certValidPerd, jdbcType=VARCHAR}, 
			</if>
			<if test="birthDate != null and birthDate !='' ">
				BIRTH_DATE = #{birthDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="POINT != null and POINT !='' ">
				POINT = #{POINT, jdbcType=INTEGER}, 
			</if>
			<if test="loginStat != null and loginStat !='' ">
				LOGIN_STAT = #{loginStat, jdbcType=VARCHAR}, 
			</if>
			<if test="EMAIL != null and EMAIL !='' ">
				EMAIL = #{EMAIL, jdbcType=VARCHAR}, 
			</if>
			<if test="acctStat != null and acctStat !='' ">
				ACCT_STAT = #{acctStat, jdbcType=VARCHAR}, 
			</if>
			<if test="vipFlag != null and vipFlag !='' ">
				VIP_FLAG = #{vipFlag, jdbcType=VARCHAR}, 
			</if>
			<if test="authFlag != null and authFlag !='' ">
				AUTH_FLAG = #{authFlag, jdbcType=VARCHAR}, 
			</if>
			<if test="regDate != null and regDate !='' ">
				REG_DATE = #{regDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="loanPsnFlag != null and loanPsnFlag !='' ">
				LOAN_PSN_FLAG = #{loanPsnFlag, jdbcType=VARCHAR}, 
			</if>
			<if test="openId != null and openId !='' ">
				OPEN_ID = #{openId, jdbcType=VARCHAR}, 
			</if>
			<if test="loginFlag != null and loginFlag !='' ">
				LOGIN_FLAG = #{loginFlag, jdbcType=VARCHAR}, 
			</if>
			<if test="lastLoginDate != null and lastLoginDate !='' ">
				LAST_LOGIN_DATE = #{lastLoginDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="custTyp != null and custTyp !='' ">
				CUST_TYP = #{custTyp, jdbcType=VARCHAR}, 
			</if>
			<if test="instDate != null and instDate !='' ">
				INST_DATE = #{instDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="updtDate != null and updtDate !='' ">
				UPDT_DATE = #{updtDate, jdbcType=TIMESTAMP}, 
			</if>
			WHERE CUST_NO = #{custNo, jdbcType=VARCHAR} 
		</set>
	</update>
</mapper>
