<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p2p.invst.mappers.InvstAcctRegMapper">
	<!-- 1、配置返回结果Map和参数Map -->
	<resultMap type="InvstAcctReg" id="baseInvstAcctRegResultMap">
		<id property="invstNo" column="INVST_NO"/>
		<result property="contrNo" column="CONTR_NO"/>
		<result property="acctNo" column="ACCT_NO"/>
		<result property="invstTyp" column="INVST_TYP"/>
		<result property="prodNo" column="PROD_NO"/>
		<result property="prodName" column="PROD_NAME"/>
		<result property="custNo" column="CUST_NO"/>
		<result property="custName" column="CUST_NAME"/>
		<result property="invstDate" column="INVST_DATE"/>
		<result property="acctTyp" column="ACCT_TYP"/>
		<result property="invstAmt" column="INVST_AMT"/>
		<result property="prodRat" column="PROD_RAT"/>
		<result property="lockRat" column="LOCK_RAT"/>
		<result property="busnTyp" column="BUSN_TYP"/>
		<result property="repayTyp" column="REPAY_TYP"/>
		<result property="bgnDate" column="BGN_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="lockTyp" column="LOCK_TYP"/>
		<result property="mthRepayDay" column="MTH_REPAY_DAY"/>
		<result property="mthRepayAmt" column="MTH_REPAY_AMT"/>
		<result property="totlRepayAmt" column="TOTL_REPAY_AMT"/>
		<result property="clrDate" column="CLR_DATE"/>
		<result property="invstStat" column="INVST_STAT"/>
		<result property="fstRepayDate" column="FST_REPAY_DATE"/>
		<result property="invstDesc" column="INVST_DESC"/>
		<result property="instDate" column="INST_DATE"/>
		<result property="updtDate" column="UPDT_DATE"/>
		<result property="redomAmt" column="Redom_amt"/>
		<result property="batFlag" column="BAT_FLAG"/>
		<result property="recordStat" column="record_stat"/>
	</resultMap>
	<resultMap type="InvstAcctReg" id="invstAcctRegResultMap" extends="baseInvstAcctRegResultMap">
	</resultMap>
	<!-- <parameter property="deptId" javaType="string" jdbcType="VARCHAR"/> -->
	<parameterMap type="InvstAcctReg" id="invstAcctRegParameterMap">
		<parameter property="invstNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="contrNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="acctNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="invstTyp" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="prodNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="prodName" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="custNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="custName" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="invstDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="acctTyp" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="invstAmt" javaType="decimal" jdbcType="DECIMAL "/>
		<parameter property="prodRat" javaType="decimal" jdbcType="DECIMAL "/>
		<parameter property="lockRat" javaType="decimal" jdbcType="DECIMAL "/>
		<parameter property="busnTyp" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="repayTyp" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="bgnDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="endDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="lockTyp" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="mthRepayDay" javaType="integer" jdbcType="INTEGER"/>
		<parameter property="mthRepayAmt" javaType="decimal" jdbcType="DECIMAL "/>
		<parameter property="totlRepayAmt" javaType="decimal" jdbcType="DECIMAL "/>
		<parameter property="clrDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="invstStat" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="fstRepayDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="invstDesc" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="instDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="updtDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="redomAmt" javaType="decimal" jdbcType="DECIMAL "/>
		<parameter property="batFlag" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="recordStat" javaType="string" jdbcType="CHAR"/>
	</parameterMap>

	<!-- 2、各个SeqID -->
	<insert id="add" parameterMap="invstAcctRegParameterMap">
		INSERT INTO invst_acct_reg (INVST_NO, CONTR_NO, ACCT_NO, INVST_TYP, PROD_NO, PROD_NAME, CUST_NO, CUST_NAME, INVST_DATE, ACCT_TYP, INVST_AMT, PROD_RAT, LOCK_RAT, BUSN_TYP, REPAY_TYP, BGN_DATE, END_DATE, LOCK_TYP, MTH_REPAY_DAY, MTH_REPAY_AMT, TOTL_REPAY_AMT, CLR_DATE, INVST_STAT, FST_REPAY_DATE, INVST_DESC, INST_DATE, UPDT_DATE, Redom_amt, BAT_FLAG, record_stat) VALUES (
			#{invstNo, jdbcType=VARCHAR}, 
			#{contrNo, jdbcType=VARCHAR}, 
			#{acctNo, jdbcType=VARCHAR}, 
			#{invstTyp, jdbcType=VARCHAR}, 
			#{prodNo, jdbcType=VARCHAR}, 
			#{prodName, jdbcType=VARCHAR}, 
			#{custNo, jdbcType=VARCHAR}, 
			#{custName, jdbcType=VARCHAR}, 
			#{invstDate, jdbcType=TIMESTAMP}, 
			#{acctTyp, jdbcType=VARCHAR}, 
			#{invstAmt, jdbcType=DECIMAL }, 
			#{prodRat, jdbcType=DECIMAL }, 
			#{lockRat, jdbcType=DECIMAL }, 
			#{busnTyp, jdbcType=VARCHAR}, 
			#{repayTyp, jdbcType=VARCHAR}, 
			#{bgnDate, jdbcType=TIMESTAMP}, 
			#{endDate, jdbcType=TIMESTAMP}, 
			#{lockTyp, jdbcType=VARCHAR}, 
			#{mthRepayDay, jdbcType=INTEGER}, 
			#{mthRepayAmt, jdbcType=DECIMAL }, 
			#{totlRepayAmt, jdbcType=DECIMAL }, 
			#{clrDate, jdbcType=TIMESTAMP}, 
			#{invstStat, jdbcType=VARCHAR}, 
			#{fstRepayDate, jdbcType=TIMESTAMP}, 
			#{invstDesc, jdbcType=VARCHAR}, 
			#{instDate, jdbcType=TIMESTAMP}, 
			#{updtDate, jdbcType=TIMESTAMP}, 
			#{redomAmt, jdbcType=DECIMAL }, 
			#{batFlag, jdbcType=VARCHAR}, 
			#{recordStat, jdbcType=CHAR}
		)
	</insert>
	<!-- 判断不可重复的属性是否已经存在，这里默认只判断deptName属性，具体的业务再进行修改添加 -->
	<!--
	<select id="isExists" resultType="integer" parameterMap="invstAcctRegParameterMap">
		SELECT COUNT(1) FROM invst_acct_reg WHERE DEPT_NAME=#{deptName}
		<if test="deptId != null and deptId !='' ">
			<![CDATA[ AND DEPT_ID <> #{deptId, jdbcType=VARCHAR} ]]>
		</if>
	</select>
	-->
	<select id="getById" resultMap="invstAcctRegResultMap" parameterType="string">
		SELECT * FROM invst_acct_reg WHERE INVST_NO = #{value}
	</select>
	<select id="page" resultMap="invstAcctRegResultMap" parameterType="InvstAcctReg">
		SELECT * FROM invst_acct_reg WHERE 1=1
		<!-- 各种条件 --> 
		<!--
		<if test="deptName != null and deptName !='' ">
			<![CDATA[ AND DEPT_NAME LIKE CONCAT(CONCAT('%', #{deptName}),'%')]]>
		</if>
		-->
	</select>
	<select id="getTotal" resultType="long" parameterType="InvstAcctReg">
		SELECT COUNT(1) FROM invst_acct_reg WHERE 1=1
		<!-- 各种条件 --> 
		<!--
		<if test="deptName != null and deptName !='' ">
			<![CDATA[ AND DEPT_NAME LIKE CONCAT(CONCAT('%', #{deptName}),'%')]]>
		</if>
		-->
	</select>
	<delete id="deleteById" parameterType="string">
		DELETE FROM invst_acct_reg WHERE INVST_NO = #{value}
	</delete>
	<update id="edit" parameterType="InvstAcctReg">
		UPDATE invst_acct_reg 
		<!-- 各种更改的字段 --> 
		<set>
			<if test="contrNo != null and contrNo !='' ">
				CONTR_NO = #{contrNo, jdbcType=VARCHAR}, 
			</if>
			<if test="acctNo != null and acctNo !='' ">
				ACCT_NO = #{acctNo, jdbcType=VARCHAR}, 
			</if>
			<if test="invstTyp != null and invstTyp !='' ">
				INVST_TYP = #{invstTyp, jdbcType=VARCHAR}, 
			</if>
			<if test="prodNo != null and prodNo !='' ">
				PROD_NO = #{prodNo, jdbcType=VARCHAR}, 
			</if>
			<if test="prodName != null and prodName !='' ">
				PROD_NAME = #{prodName, jdbcType=VARCHAR}, 
			</if>
			<if test="custNo != null and custNo !='' ">
				CUST_NO = #{custNo, jdbcType=VARCHAR}, 
			</if>
			<if test="custName != null and custName !='' ">
				CUST_NAME = #{custName, jdbcType=VARCHAR}, 
			</if>
			<if test="invstDate != null and invstDate !='' ">
				INVST_DATE = #{invstDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="acctTyp != null and acctTyp !='' ">
				ACCT_TYP = #{acctTyp, jdbcType=VARCHAR}, 
			</if>
			<if test="invstAmt != null and invstAmt !='' ">
				INVST_AMT = #{invstAmt, jdbcType=DECIMAL }, 
			</if>
			<if test="prodRat != null and prodRat !='' ">
				PROD_RAT = #{prodRat, jdbcType=DECIMAL }, 
			</if>
			<if test="lockRat != null and lockRat !='' ">
				LOCK_RAT = #{lockRat, jdbcType=DECIMAL }, 
			</if>
			<if test="busnTyp != null and busnTyp !='' ">
				BUSN_TYP = #{busnTyp, jdbcType=VARCHAR}, 
			</if>
			<if test="repayTyp != null and repayTyp !='' ">
				REPAY_TYP = #{repayTyp, jdbcType=VARCHAR}, 
			</if>
			<if test="bgnDate != null and bgnDate !='' ">
				BGN_DATE = #{bgnDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="endDate != null and endDate !='' ">
				END_DATE = #{endDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="lockTyp != null and lockTyp !='' ">
				LOCK_TYP = #{lockTyp, jdbcType=VARCHAR}, 
			</if>
			<if test="mthRepayDay != null and mthRepayDay !='' ">
				MTH_REPAY_DAY = #{mthRepayDay, jdbcType=INTEGER}, 
			</if>
			<if test="mthRepayAmt != null and mthRepayAmt !='' ">
				MTH_REPAY_AMT = #{mthRepayAmt, jdbcType=DECIMAL }, 
			</if>
			<if test="totlRepayAmt != null and totlRepayAmt !='' ">
				TOTL_REPAY_AMT = #{totlRepayAmt, jdbcType=DECIMAL }, 
			</if>
			<if test="clrDate != null and clrDate !='' ">
				CLR_DATE = #{clrDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="invstStat != null and invstStat !='' ">
				INVST_STAT = #{invstStat, jdbcType=VARCHAR}, 
			</if>
			<if test="fstRepayDate != null and fstRepayDate !='' ">
				FST_REPAY_DATE = #{fstRepayDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="invstDesc != null and invstDesc !='' ">
				INVST_DESC = #{invstDesc, jdbcType=VARCHAR}, 
			</if>
			<if test="instDate != null and instDate !='' ">
				INST_DATE = #{instDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="updtDate != null and updtDate !='' ">
				UPDT_DATE = #{updtDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="redomAmt != null and redomAmt !='' ">
				Redom_amt = #{redomAmt, jdbcType=DECIMAL }, 
			</if>
			<if test="batFlag != null and batFlag !='' ">
				BAT_FLAG = #{batFlag, jdbcType=VARCHAR}, 
			</if>
			<if test="recordStat != null and recordStat !='' ">
				record_stat = #{recordStat, jdbcType=CHAR}, 
			</if>

			WHERE INVST_NO = #{invstNo, jdbcType=VARCHAR} 
		</set>
	</update>
</mapper>
