<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p2p.user.mappers.PubDebtMapper">
	<!-- 1、配置返回结果Map和参数Map -->
	<resultMap type="PubDebt" id="basePubDebtResultMap">
		<id property="debtNo" column="debt_no"/>
		<result property="prodNo" column="Prod_no"/>
		<result property="prodName" column="Prod_name"/>
		<result property="invstNo" column="Invst_no"/>
		<result property="repayTyp" column="Repay_typ"/>
		<result property="custNo" column="Cust_no"/>
		<result property="prodPerd" column="Prod_Perd"/>
		<result property="debtAmt" column="debt_amt"/>
		<result property="debtType" column="debt_type"/>
		<result property="dedtFeeRat" column="Dedt_Fee_Rat"/>
		<result property="discountRat" column="Discount_rat"/>
		<result property="prftRat" column="Prft_rat"/>
		<result property="loanAmt" column="Loan_amt"/>
		<result property="invstAmt" column="Invst_amt"/>
		<result property="dettolIntAmt" column="detTol_int_amt"/>
		<result property="debtPerd" column="debt_Perd"/>
		<result property="bgnDate" column="Bgn_date"/>
		<result property="endDate" column="end_date"/>
		<result property="days" column="days"/>
		<result property="applyDate" column="apply_date"/>
		<result property="startDate" column="start_date"/>
		<result property="sellTmsp" column="Sell_tmsp"/>
		<result property="bidDueDate" column="Bid_due_date"/>
		<result property="minInvstAmt" column="Min_invst_amt"/>
		<result property="maxInvstAmt" column="Max_invst_amt"/>
		<result property="debtStat" column="debt_stat"/>
		<result property="prodRemk" column="Prod_remk"/>
		<result property="instDate" column="Inst_date"/>
		<result property="updtDate" column="updt_date"/>
	</resultMap>
	<resultMap type="PubDebt" id="pubDebtResultMap" extends="basePubDebtResultMap">
	</resultMap>
	<!-- <parameter property="deptId" javaType="string" jdbcType="VARCHAR"/> -->
	<parameterMap type="PubDebt" id="pubDebtParameterMap">
		<parameter property="debtNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="prodNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="prodName" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="invstNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="repayTyp" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="custNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="prodPerd" javaType="integer" jdbcType="INTEGER"/>
		<parameter property="debtAmt" javaType="decimal" jdbcType="DECIMAL "/>
		<parameter property="debtType" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="dedtFeeRat" javaType="decimal" jdbcType="DECIMAL "/>
		<parameter property="discountRat" javaType="decimal" jdbcType="DECIMAL "/>
		<parameter property="prftRat" javaType="decimal" jdbcType="DECIMAL "/>
		<parameter property="loanAmt" javaType="decimal" jdbcType="DECIMAL "/>
		<parameter property="invstAmt" javaType="decimal" jdbcType="DECIMAL "/>
		<parameter property="dettolIntAmt" javaType="decimal" jdbcType="DECIMAL "/>
		<parameter property="debtPerd" javaType="integer" jdbcType="INTEGER"/>
		<parameter property="bgnDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="endDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="days" javaType="integer" jdbcType="INTEGER"/>
		<parameter property="applyDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="startDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="sellTmsp" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="bidDueDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="minInvstAmt" javaType="decimal" jdbcType="DECIMAL "/>
		<parameter property="maxInvstAmt" javaType="decimal" jdbcType="DECIMAL "/>
		<parameter property="debtStat" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="prodRemk" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="instDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="updtDate" javaType="date" jdbcType="TIMESTAMP"/>
	</parameterMap>

	<!-- 2、各个SeqID -->
	<insert id="add" parameterMap="pubDebtParameterMap">
		INSERT INTO pub_debt_proj (debt_no, Prod_no, Prod_name, Invst_no, Repay_typ, Cust_no, Prod_Perd, debt_amt, debt_type, Dedt_Fee_Rat, Discount_rat, Prft_rat, Loan_amt, Invst_amt, detTol_int_amt, debt_Perd, Bgn_date, end_date, days, apply_date, start_date, Sell_tmsp, Bid_due_date, Min_invst_amt, Max_invst_amt, debt_stat, Prod_remk, Inst_date, updt_date) VALUES (
			#{debtNo, jdbcType=VARCHAR}, 
			#{prodNo, jdbcType=VARCHAR}, 
			#{prodName, jdbcType=VARCHAR}, 
			#{invstNo, jdbcType=VARCHAR}, 
			#{repayTyp, jdbcType=VARCHAR}, 
			#{custNo, jdbcType=VARCHAR}, 
			#{prodPerd, jdbcType=INTEGER}, 
			#{debtAmt, jdbcType=DECIMAL }, 
			#{debtType, jdbcType=VARCHAR}, 
			#{dedtFeeRat, jdbcType=DECIMAL }, 
			#{discountRat, jdbcType=DECIMAL }, 
			#{prftRat, jdbcType=DECIMAL }, 
			#{loanAmt, jdbcType=DECIMAL }, 
			#{invstAmt, jdbcType=DECIMAL }, 
			#{dettolIntAmt, jdbcType=DECIMAL }, 
			#{debtPerd, jdbcType=INTEGER}, 
			#{bgnDate, jdbcType=TIMESTAMP}, 
			#{endDate, jdbcType=TIMESTAMP}, 
			#{days, jdbcType=INTEGER}, 
			#{applyDate, jdbcType=TIMESTAMP}, 
			#{startDate, jdbcType=TIMESTAMP}, 
			#{sellTmsp, jdbcType=TIMESTAMP}, 
			#{bidDueDate, jdbcType=TIMESTAMP}, 
			#{minInvstAmt, jdbcType=DECIMAL }, 
			#{maxInvstAmt, jdbcType=DECIMAL }, 
			#{debtStat, jdbcType=VARCHAR}, 
			#{prodRemk, jdbcType=VARCHAR}, 
			#{instDate, jdbcType=TIMESTAMP}, 
			#{updtDate, jdbcType=TIMESTAMP}
		)
	</insert>
	<!-- 判断不可重复的属性是否已经存在，这里默认只判断deptName属性，具体的业务再进行修改添加 -->
	<!--
	<select id="isExists" resultType="integer" parameterMap="pubDebtParameterMap">
		SELECT COUNT(1) FROM pub_debt_proj WHERE DEPT_NAME=#{deptName}
		<if test="deptId != null and deptId !='' ">
			<![CDATA[ AND DEPT_ID <> #{deptId, jdbcType=VARCHAR} ]]>
		</if>
	</select>
	-->
	<select id="getById" resultMap="pubDebtResultMap" parameterType="string">
		SELECT * FROM pub_debt_proj WHERE debt_no = #{value}
	</select>
	<select id="page" resultMap="pubDebtResultMap" parameterType="PubDebt">
		SELECT * FROM pub_debt_proj WHERE 1=1
		<!-- 各种条件 --> 
		<!--
		<if test="deptName != null and deptName !='' ">
			<![CDATA[ AND DEPT_NAME LIKE CONCAT(CONCAT('%', #{deptName}),'%')]]>
		</if>
		-->
	</select>
	<select id="getTotal" resultType="long" parameterType="PubDebt">
		SELECT COUNT(1) FROM pub_debt_proj WHERE 1=1
		<!-- 各种条件 --> 
		<!--
		<if test="deptName != null and deptName !='' ">
			<![CDATA[ AND DEPT_NAME LIKE CONCAT(CONCAT('%', #{deptName}),'%')]]>
		</if>
		-->
	</select>
	<delete id="deleteById" parameterType="string">
		DELETE FROM pub_debt_proj WHERE debt_no = #{value}
	</delete>
	<update id="edit" parameterType="PubDebt">
		UPDATE pub_debt_proj 
		<!-- 各种更改的字段 --> 
		<set>
			<if test="prodNo != null and prodNo !='' ">
				Prod_no = #{prodNo, jdbcType=VARCHAR}, 
			</if>
			<if test="prodName != null and prodName !='' ">
				Prod_name = #{prodName, jdbcType=VARCHAR}, 
			</if>
			<if test="invstNo != null and invstNo !='' ">
				Invst_no = #{invstNo, jdbcType=VARCHAR}, 
			</if>
			<if test="repayTyp != null and repayTyp !='' ">
				Repay_typ = #{repayTyp, jdbcType=VARCHAR}, 
			</if>
			<if test="custNo != null and custNo !='' ">
				Cust_no = #{custNo, jdbcType=VARCHAR}, 
			</if>
			<if test="prodPerd != null and prodPerd !='' ">
				Prod_Perd = #{prodPerd, jdbcType=INTEGER}, 
			</if>
			<if test="debtAmt != null and debtAmt !='' ">
				debt_amt = #{debtAmt, jdbcType=DECIMAL }, 
			</if>
			<if test="debtType != null and debtType !='' ">
				debt_type = #{debtType, jdbcType=VARCHAR}, 
			</if>
			<if test="dedtFeeRat != null and dedtFeeRat !='' ">
				Dedt_Fee_Rat = #{dedtFeeRat, jdbcType=DECIMAL }, 
			</if>
			<if test="discountRat != null and discountRat !='' ">
				Discount_rat = #{discountRat, jdbcType=DECIMAL }, 
			</if>
			<if test="prftRat != null and prftRat !='' ">
				Prft_rat = #{prftRat, jdbcType=DECIMAL }, 
			</if>
			<if test="loanAmt != null and loanAmt !='' ">
				Loan_amt = #{loanAmt, jdbcType=DECIMAL }, 
			</if>
			<if test="invstAmt != null and invstAmt !='' ">
				Invst_amt = #{invstAmt, jdbcType=DECIMAL }, 
			</if>
			<if test="dettolIntAmt != null and dettolIntAmt !='' ">
				detTol_int_amt = #{dettolIntAmt, jdbcType=DECIMAL }, 
			</if>
			<if test="debtPerd != null and debtPerd !='' ">
				debt_Perd = #{debtPerd, jdbcType=INTEGER}, 
			</if>
			<if test="bgnDate != null and bgnDate !='' ">
				Bgn_date = #{bgnDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="endDate != null and endDate !='' ">
				end_date = #{endDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="days != null and days !='' ">
				days = #{days, jdbcType=INTEGER}, 
			</if>
			<if test="applyDate != null and applyDate !='' ">
				apply_date = #{applyDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="startDate != null and startDate !='' ">
				start_date = #{startDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="sellTmsp != null and sellTmsp !='' ">
				Sell_tmsp = #{sellTmsp, jdbcType=TIMESTAMP}, 
			</if>
			<if test="bidDueDate != null and bidDueDate !='' ">
				Bid_due_date = #{bidDueDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="minInvstAmt != null and minInvstAmt !='' ">
				Min_invst_amt = #{minInvstAmt, jdbcType=DECIMAL }, 
			</if>
			<if test="maxInvstAmt != null and maxInvstAmt !='' ">
				Max_invst_amt = #{maxInvstAmt, jdbcType=DECIMAL }, 
			</if>
			<if test="debtStat != null and debtStat !='' ">
				debt_stat = #{debtStat, jdbcType=VARCHAR}, 
			</if>
			<if test="prodRemk != null and prodRemk !='' ">
				Prod_remk = #{prodRemk, jdbcType=VARCHAR}, 
			</if>
			<if test="instDate != null and instDate !='' ">
				Inst_date = #{instDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="updtDate != null and updtDate !='' ">
				updt_date = #{updtDate, jdbcType=TIMESTAMP}, 
			</if>

			WHERE debt_no = #{debtNo, jdbcType=VARCHAR} 
		</set>
	</update>
</mapper>
