<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hansy.fsoa.bidding.mappers.ProjectEvalMapper">
	<!-- 1、配置返回结果Map和参数Map -->
	<resultMap type="ProjectEval" id="projectEvalResultMap">
		<id property="tableKey" column="TABLE_KEY"/>
		<result property="sn" column="SN"/>
		<result property="csn" column="CSN"/>
		<result property="evalLevel" column="EVAL_LEVEL"/>
		<result property="evalDesc" column="EVAL_DESC"/>
		<result property="evaluator" column="EVALUATOR"/>
		<result property="evaluateTime" column="EVALUATETIME"/>
	</resultMap>
	<!-- <parameter property="deptId" javaType="string" jdbcType="VARCHAR"/> -->
	<parameterMap type="ProjectEval" id="projectEvalParameterMap">
		<parameter property="tableKey" javaType="integer" jdbcType="INTEGER"/>
		<parameter property="sn" javaType="integer" jdbcType="INTEGER"/>
		<parameter property="csn" javaType="integer" jdbcType="INTEGER"/>
		<parameter property="evalLevel" javaType="string" jdbcType="CHAR"/>
		<parameter property="evalDesc" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="evaluator" javaType="integer" jdbcType="INTEGER"/>
		<parameter property="evaluateTime" javaType="date" jdbcType="TIMESTAMP"/>
	</parameterMap>

	<!-- 2、各个SeqID -->
	<insert id="add" parameterMap="projectEvalParameterMap">
		INSERT INTO t_project_eval (TABLE_KEY, SN, CSN, EVAL_LEVEL, EVAL_DESC, EVALUATOR, EVALUATETIME) VALUES (
			#{tableKey, jdbcType=INTEGER}, 
			#{sn, jdbcType=INTEGER}, 
			#{csn, jdbcType=INTEGER}, 
			#{evalLevel, jdbcType=CHAR}, 
			#{evalDesc, jdbcType=VARCHAR}, 
			#{evaluator, jdbcType=INTEGER}, 
			#{evaluateTime, jdbcType=TIMESTAMP}
		)
	</insert>
	<!-- 判断不可重复的属性是否已经存在，这里默认只判断deptName属性，具体的业务再进行修改添加 -->
	<!--
	<select id="isExists" resultType="integer" parameterMap="projectEvalParameterMap">
		SELECT COUNT(1) FROM t_project_eval WHERE DEPT_NAME=#{deptName}
		<if test="deptId != null and deptId !='' ">
			<![CDATA[ AND DEPT_ID <> #{deptId, jdbcType=VARCHAR} ]]>
		</if>
	</select>
	-->
	<select id="getById" resultMap="projectEvalResultMap" parameterType="string">
		SELECT * FROM t_project_eval WHERE TABLE_KEY = #{value}
	</select>
	<select id="page" resultMap="projectEvalResultMap" parameterType="ProjectEval">
		SELECT * FROM t_project_eval WHERE 1=1
		<!-- 各种条件 --> 
		<!--
		<if test="deptName != null and deptName !='' ">
			<![CDATA[ AND DEPT_NAME LIKE CONCAT(CONCAT('%', #{deptName}),'%')]]>
		</if>
		-->
	</select>
	<select id="getTotal" resultType="long" parameterType="ProjectEval">
		SELECT COUNT(1) FROM t_project_eval WHERE 1=1
		<!-- 各种条件 --> 
		<!--
		<if test="deptName != null and deptName !='' ">
			<![CDATA[ AND DEPT_NAME LIKE CONCAT(CONCAT('%', #{deptName}),'%')]]>
		</if>
		-->
	</select>
	<delete id="deleteById" parameterType="string">
		DELETE FROM t_project_eval WHERE TABLE_KEY = #{value}
	</delete>
	<update id="edit" parameterType="ProjectEval">
		UPDATE t_project_eval 
		<!-- 各种更改的字段 --> 
		<set>
			<if test="SN != null and SN !='' ">
				SN = #{sn, jdbcType=INTEGER}, 
			</if>
			<if test="CSN != null and CSN !='' ">
				CSN = #{csn, jdbcType=INTEGER}, 
			</if>
			<if test="evalLevel != null and evalLevel !='' ">
				EVAL_LEVEL = #{evalLevel, jdbcType=CHAR}, 
			</if>
			<if test="evalDesc != null and evalDesc !='' ">
				EVAL_DESC = #{evalDesc, jdbcType=VARCHAR}, 
			</if>
			<if test="EVALUATOR != null and EVALUATOR !='' ">
				EVALUATOR = #{evaluator, jdbcType=INTEGER}, 
			</if>
			<if test="EVALUATETIME != null and EVALUATETIME !='' ">
				EVALUATETIME = #{evaluateTime, jdbcType=TIMESTAMP}, 
			</if>

		</set>
			WHERE TABLE_KEY = #{tableKey, jdbcType=INTEGER} 
	</update>
	<sql id="info">
		TABLE_KEY tableKey,
		SN sn,
		CSN csn,
		EVAL_LEVEL evalLevel,
		EVAL_DESC evalDesc,
		EVALUATOR evaluator,
		EVALUATETIME evaluatetime
	</sql>
	<sql id="conditions">
		<if test="null != tableKey and '' != tableKey">
			and TABLE_KEY=#{tableKey}
		</if>
		<if test="null != sn and '' != sn">
			and SN=#{sn}
		</if>
		<if test="null != csn and '' != csn">
			and CSN=#{csn}
		</if>
		<if test="null != evalLevel and '' != evalLevel">
			and EVAL_LEVEL=#{evalLevel}
		</if>
		<if test="null != evalDesc and '' != evalDesc">
			and EVAL_DESC=#{evalDesc}
		</if>
		<if test="null != evaluator and '' != evaluator">
			and EVALUATOR=#{evaluator}
		</if>
		<if test="null != evaluateTime and '' != evaluateTime">
			and EVALUATETIME=#{evaluateTime}
		</if>
	</sql>
	<s