<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p2p.sys.mappers.SysAcctJnlMapper">
	<!-- 1、配置返回结果Map和参数Map -->
	<resultMap type="SysAcctJnl" id="baseSysAcctJnlResultMap">
		<id property="txSeqNo" column="TX_SEQ_NO"/>
		<result property="serlNo" column="SERL_NO"/>
		<result property="txDate" column="TX_DATE"/>
		<result property="acctNo" column="ACCT_NO"/>
		<result property="custNo" column="CUST_NO"/>
		<result property="custName" column="CUST_NAME"/>
		<result property="subjNo" column="SUBJ_NO"/>
		<result property="drCrFlag" column="DR_CR_FLAG"/>
		<result property="prodNo" column="PROD_NO"/>
		<result property="txCod" column="TX_COD"/>
		<result property="txAbbr" column="TX_ABBR"/>
		<result property="txAmt" column="TX_AMT"/>
		<result property="BAL" column="BAL"/>
		<result property="cntAcctNo" column="CNT_ACCT_NO"/>
		<result property="cntAcctName" column="CNT_ACCT_NAME"/>
		<result property="bookFlag" column="BOOK_FLAG"/>
		<result property="strkFlag" column="STRK_FLAG"/>
		<result property="strkDate" column="STRK_DATE"/>
		<result property="instDate" column="INST_DATE"/>
		<result property="updtDate" column="UPDT_DATE"/>
	</resultMap>
	<resultMap type="SysAcctJnl" id="sysAcctJnlResultMap" extends="baseSysAcctJnlResultMap">
	</resultMap>
	<!-- <parameter property="deptId" javaType="string" jdbcType="VARCHAR"/> -->
	<parameterMap type="SysAcctJnl" id="sysAcctJnlParameterMap">
		<parameter property="txSeqNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="serlNo" javaType="integer" jdbcType="INTEGER"/>
		<parameter property="txDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="acctNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="custNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="custName" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="subjNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="drCrFlag" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="prodNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="txCod" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="txAbbr" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="txAmt" javaType="decimal" jdbcType="DECIMAL "/>
		<parameter property="BAL" javaType="decimal" jdbcType="DECIMAL "/>
		<parameter property="cntAcctNo" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="cntAcctName" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="bookFlag" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="strkFlag" javaType="string" jdbcType="VARCHAR"/>
		<parameter property="strkDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="instDate" javaType="date" jdbcType="TIMESTAMP"/>
		<parameter property="updtDate" javaType="date" jdbcType="TIMESTAMP"/>
	</parameterMap>

	<!-- 2、各个SeqID -->
	<insert id="add" parameterMap="sysAcctJnlParameterMap">
		INSERT INTO sys_acct_Jnl (TX_SEQ_NO, SERL_NO, TX_DATE, ACCT_NO, CUST_NO, CUST_NAME, SUBJ_NO, DR_CR_FLAG, PROD_NO, TX_COD, TX_ABBR, TX_AMT, BAL, CNT_ACCT_NO, CNT_ACCT_NAME, BOOK_FLAG, STRK_FLAG, STRK_DATE, INST_DATE, UPDT_DATE) VALUES (
			#{txSeqNo, jdbcType=VARCHAR}, 
			#{serlNo, jdbcType=INTEGER}, 
			#{txDate, jdbcType=TIMESTAMP}, 
			#{acctNo, jdbcType=VARCHAR}, 
			#{custNo, jdbcType=VARCHAR}, 
			#{custName, jdbcType=VARCHAR}, 
			#{subjNo, jdbcType=VARCHAR}, 
			#{drCrFlag, jdbcType=VARCHAR}, 
			#{prodNo, jdbcType=VARCHAR}, 
			#{txCod, jdbcType=VARCHAR}, 
			#{txAbbr, jdbcType=VARCHAR}, 
			#{txAmt, jdbcType=DECIMAL }, 
			#{BAL, jdbcType=DECIMAL }, 
			#{cntAcctNo, jdbcType=VARCHAR}, 
			#{cntAcctName, jdbcType=VARCHAR}, 
			#{bookFlag, jdbcType=VARCHAR}, 
			#{strkFlag, jdbcType=VARCHAR}, 
			#{strkDate, jdbcType=TIMESTAMP}, 
			#{instDate, jdbcType=TIMESTAMP}, 
			#{updtDate, jdbcType=TIMESTAMP}
		)
	</insert>
	<!-- 判断不可重复的属性是否已经存在，这里默认只判断deptName属性，具体的业务再进行修改添加 -->
	<!--
	<select id="isExists" resultType="integer" parameterMap="sysAcctJnlParameterMap">
		SELECT COUNT(1) FROM sys_acct_Jnl WHERE DEPT_NAME=#{deptName}
		<if test="deptId != null and deptId !='' ">
			<![CDATA[ AND DEPT_ID <> #{deptId, jdbcType=VARCHAR} ]]>
		</if>
	</select>
	-->
	<select id="getById" resultMap="sysAcctJnlResultMap" parameterType="string">
		SELECT * FROM sys_acct_Jnl WHERE TX_SEQ_NO = #{value}
	</select>
	<select id="page" resultMap="sysAcctJnlResultMap" parameterType="SysAcctJnl">
		SELECT * FROM sys_acct_Jnl WHERE 1=1
		<!-- 各种条件 --> 
		<!--
		<if test="deptName != null and deptName !='' ">
			<![CDATA[ AND DEPT_NAME LIKE CONCAT(CONCAT('%', #{deptName}),'%')]]>
		</if>
		-->
	</select>
	<select id="getTotal" resultType="long" parameterType="SysAcctJnl">
		SELECT COUNT(1) FROM sys_acct_Jnl WHERE 1=1
		<!-- 各种条件 --> 
		<!--
		<if test="deptName != null and deptName !='' ">
			<![CDATA[ AND DEPT_NAME LIKE CONCAT(CONCAT('%', #{deptName}),'%')]]>
		</if>
		-->
	</select>
	<delete id="deleteById" parameterType="string">
		DELETE FROM sys_acct_Jnl WHERE TX_SEQ_NO = #{value}
	</delete>
	<update id="edit" parameterType="SysAcctJnl">
		UPDATE sys_acct_Jnl 
		<!-- 各种更改的字段 --> 
		<set>
			<if test="serlNo != null and serlNo !='' ">
				SERL_NO = #{serlNo, jdbcType=INTEGER}, 
			</if>
			<if test="txDate != null and txDate !='' ">
				TX_DATE = #{txDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="acctNo != null and acctNo !='' ">
				ACCT_NO = #{acctNo, jdbcType=VARCHAR}, 
			</if>
			<if test="custNo != null and custNo !='' ">
				CUST_NO = #{custNo, jdbcType=VARCHAR}, 
			</if>
			<if test="custName != null and custName !='' ">
				CUST_NAME = #{custName, jdbcType=VARCHAR}, 
			</if>
			<if test="subjNo != null and subjNo !='' ">
				SUBJ_NO = #{subjNo, jdbcType=VARCHAR}, 
			</if>
			<if test="drCrFlag != null and drCrFlag !='' ">
				DR_CR_FLAG = #{drCrFlag, jdbcType=VARCHAR}, 
			</if>
			<if test="prodNo != null and prodNo !='' ">
				PROD_NO = #{prodNo, jdbcType=VARCHAR}, 
			</if>
			<if test="txCod != null and txCod !='' ">
				TX_COD = #{txCod, jdbcType=VARCHAR}, 
			</if>
			<if test="txAbbr != null and txAbbr !='' ">
				TX_ABBR = #{txAbbr, jdbcType=VARCHAR}, 
			</if>
			<if test="txAmt != null and txAmt !='' ">
				TX_AMT = #{txAmt, jdbcType=DECIMAL }, 
			</if>
			<if test="BAL != null and BAL !='' ">
				BAL = #{BAL, jdbcType=DECIMAL }, 
			</if>
			<if test="cntAcctNo != null and cntAcctNo !='' ">
				CNT_ACCT_NO = #{cntAcctNo, jdbcType=VARCHAR}, 
			</if>
			<if test="cntAcctName != null and cntAcctName !='' ">
				CNT_ACCT_NAME = #{cntAcctName, jdbcType=VARCHAR}, 
			</if>
			<if test="bookFlag != null and bookFlag !='' ">
				BOOK_FLAG = #{bookFlag, jdbcType=VARCHAR}, 
			</if>
			<if test="strkFlag != null and strkFlag !='' ">
				STRK_FLAG = #{strkFlag, jdbcType=VARCHAR}, 
			</if>
			<if test="strkDate != null and strkDate !='' ">
				STRK_DATE = #{strkDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="instDate != null and instDate !='' ">
				INST_DATE = #{instDate, jdbcType=TIMESTAMP}, 
			</if>
			<if test="updtDate != null and updtDate !='' ">
				UPDT_DATE = #{updtDate, jdbcType=TIMESTAMP}, 
			</if>

			WHERE TX_SEQ_NO = #{txSeqNo, jdbcType=VARCHAR} 
		</set>
	</update>
</mapper>
